:host {
  display: block;
}

.header {
  padding-top: 39px;
  background-color: transparent;
}

.header__container {
  width: min(100% - 32px, 1220px);
  height: 46px;
  margin-inline: auto;

  display: flex;
  align-items: center;
}

.header__logo-link {
  display: inline-flex;
}

.header__logo {
  width: 119px;
  height: 46px;
}

@media (max-width: 460px) {
  .header {
    padding-top: 48px;
  }
}
