:host {
  display: block;
  width: 513px;
}

.survey-list-card {
  width: 513px;
  height: 127px;
  padding: 12px 20px;

  display: flex;
  flex-direction: column;
  gap: 2px;

  background-color: #d9d9d914;
  border-radius: 5px 50px 5px 5px;
  overflow: hidden;
}

.survey-list-card__category {
  width: 143px;
  height: 20px;
  margin: 0;

  color: #ffcfa1;
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
}

.survey-list-card__title {
  width: 473px;
  height: 30px;
  margin: 0;

  overflow: hidden;
  color: #ffffff;
  font-family: var(--font-body);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.survey-list-card__description {
  width: 440px;
  margin: 0;

  overflow: hidden;
  color: #ffffffb3;
  font-family: var(--font-body);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.survey-list-card__footer {
  width: 473px;
  min-height: 21px;
  margin-top: auto;

  display: flex;
  justify-content: flex-end;
}

.survey-list-card__badge {
  min-height: 21px;
  padding: 3px 4px;

  display: inline-flex;
  align-items: center;

  color: #35273a;
  background-color: #ffcfa1;

  font-family: var(--font-body);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  white-space: nowrap;
}
