@font-face {
  font-family: 'Nerko One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/NerkoOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/Mulish-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/Mulish-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/Mulish-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/Nokora-Bold.ttf') format('truetype');
}

:root {
  --color-background: #35273a;
  --color-primary: #ffb770;
  --color-primary-light: #ffcfa1;
  --color-surface: #faf5fe;
  --color-text: #35273a;

  --font-heading: 'Nerko One', cursive;
  --font-body: 'Mulish', sans-serif;
  --font-button: 'Nokora', sans-serif;

  --content-width: 1440px;
  --border-radius: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  color: var(--color-surface);
  background-color: var(--color-background);

  font-family: var(--font-body);
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: min(100% - 32px, var(--content-width));
  margin-inline: auto;
  padding-block: 48px;
}

h1 {
  margin: 0;
  color: var(--color-primary);
  font-family: var(--font-heading);
  font-weight: 400;
}
